@use "./variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: grid;
  place-items: center;
}

body {
  font-family: "Manrope", serif;
  background-color: $bodyBgc;
  color: $primaryText;
  font-weight: bold;
  font-size: 1.5rem;

  min-height: 100vh;
  min-height: 100svh;
  display: grid;
  place-items: center;
  padding: 1rem;
  margin: 0 auto;
}
